.*
!.gitignore
~*

*.log

### Maven.gitignore

target/

### Global/IntelliJ.gitignore

*.iml
*.ipr
*.iws

### Global/NetBeans.gitignore

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml