<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<!--appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${mule.home}/logs/ebms-adapter.log"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender-->

	<!--appender  name="FILE"  class="org.apache.log4j.DailyFileAppender">
		<param name="File" value="'${mule.home}/logs/ebms-adapter-'yyyyMMdd'.log'"/>
		<param name="Threshold" value="INFO"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender-->

	<appender  name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${mule.home}/logs/ebms-adapter.log"/>
		<param name="DatePattern" value="yyyyMMdd'.log'"/>
		<param name="Threshold" value="debug"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE"/>
	</appender>

	<logger name="nl.clockwork.ebms" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="nl.clockwork.ebms.client" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="nl.clockwork.ebms.server" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="nl.clockwork.ebms.job" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="nl.clockwork.mule.ebms" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="nl.clockwork.mule.ebms.processor" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>
	
	<logger name="org.apache" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="httpclient.wire" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="com.sun.org" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="javax.xml" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>
		 	
	<logger name="org.xml.sax" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>	

	<logger name="net.sf.saxon" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.springframework.beans.factory" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.springframework.jdbc" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="com.mchange.v2" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="com.mulesource" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.mule" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<logger name="org.mule.module.client" additivity="false">
		<level value="warn"/>
		<appender-ref ref="ASYNC"/>
	</logger>

	<root>
		<priority value="info"/>
		<appender-ref ref="ASYNC"/>
	</root>

</log4j:configuration>
